sudo: required
dist: trusty
language: php
php: '7.0'
services:
- docker
env:
  global:
  - secure: QCN/3wjqP+Dr0o3dU5TE+gmJgpziglMfqYnxuWnwO4mercNhRAtNatH11coOt9hA+y7tcSCnR2+CPx0PfoIy3aITW1OY7WzD7DfgfAS7WgeRPdGNWmpKvy5wn5OjDZoAaIA5xaTzDwUATqNiYJhzhM5eFzpemPOOimWpzfGNxVuj2uWeb+ILf4JRC+L3xiqAtBH7NDvyJgsJ55kFEnbAB8vBERBhZu736Y36Cr6l02IF6F/1ljS1vb56t4iFF/WekffBqXptjnn9bKYK+QYPAfPRnMgKdiJ9MHB23FenlTv2v4fOMbNyCDpbKvsbqMeNbvlCrWKnGGARGP1ch89RqU0jTZFkloSKQvcVnWpy1el2S8hE8wKnxGqwD+i5AGZyxenbv8d+p27ienQtNQk/ukZdr70GlscEtLwUF9d/uh8Hj0gph4NPEjuS6c5x/JDYMEEwiTf2B4k/2tdG2W0prBgkY3LrTAuTUL2109mFpmOs/RVsMglLj9SsSbFBYMmOLqG+oaiJJNq6tD0/FcZhlpblrxKyrQQ3NmUdnVbzRjp8q1p9yn7uoc8QJrRvdZStnZwQ5V6EHVXgvbzg8oS6C/EQ3DUFXF/5wjhysKl6wKk1mGqyYKw5cB8LemSX0zKVN8RPm7IOgh5kpcAzSc/ISfRp8IfvW7nv4eGBf/43Upc=
  - ENCRYPTION_LABEL: 1cc5062d8c78
  - COMMIT_AUTHOR_EMAIL: christian.wiedemann@key-tec.de
  - secure: "b7CC4KcttP3lJMQGo+HDcvQYcvrtxeCrSn4gIhT7j+7U2pKjyXdISP6+fHrii8NVgr/V/WUbq4PB2OakRV2ro5NWS34TxwO/C6OvD68UF+2zCDf/zBUdYDDpRTBxSik/uQP4G2LHk+ChrD2LbDuLpGwo36mYl9cun2x7Wmd6kDyS/JTNxheP51X3D/fCcPVVSdMo7uxA7AF6hLe0nI7eI7kjzlew9RONhBU3dm+hXcwwlZ/ztRiIeHBIGIonf0HphUQyoK+Dq0vlADmIeEKSTNciU9iS6DzcKxcSKRgEoG1R7biiC60MAD+pmdL3cqrMMPP0V0PkDRIjoMwJlwrsekUmF26qq5gREreQqjBE+ZHAx5QdGNZai0DhelzzZfOB28GTRzfyzlxOHdc0DYN2pqDnXpodKEQGxq8/Yqmhk8Z8tq86svCmskGDHmqxKYITjO0xrr0vtmcOGkEJN4mrtL+YIjIgA3AGoEynpMdqozDcF4AQAtikPW+GFQcERsNA7qcEK+fGUIIHJPWekdnSBaMYdSJC3KilG7i/syw4EZ+Z4YgOFLJmd0WTdNMhhqYgBrIjSZsE08J13nx7gX82QhYDItTzuSaceH3KbZwiQpxH4kcHNTgL/u0QvBCuLfY/4PFxRrQWvY2QeF2e1aM+2bg5hujzCM6kObsyRRv3RKA="

before_install:
- "./before_install.sh"
- ./bin/acp.sh _install-pipeline
script:
- set -e
- cd tests
- git clone git@github.com:andock/drupal-8-demo.git
# Not working now. @TODO: Fix text.
# - bats build.bats
- bats server.bats
- bats fin.bats
